<div
  class="bg-slate-800 w-full h-20 flex flex-row px-20 justify-between items-center"
>
  <img src="" alt="WMC" />
  <div class="text-white text-xl font-medium">
    <nav class=" space-x-8 hidden md:flex">
      <a href="" class="hover:text-amber-200 transition-colors">Sessão</a>
      <a href="" class="hover:text-amber-200 transition-colors">Produtos</a>
      <a href="" class="hover:text-amber-200 transition-colors">Sobre</a>
      <a href="" class="hover:text-amber-200 transition-colors">Contato</a>
    </nav>
  </div>
</div>
