<div
  class="relative bg-gradient-to-r from-slate-800 via-slate-700 to-slate-800 w-full h-fit py-20 px-10 flex flex-col justify-center items-center text-white space-y-8">
  <div class="absolute inset-0 bg-black/20"></div>
  <h1 class="text-5xl font-bold md:text-6xl ">
    <span class="text-yellow-400">WMC</span> Engenharia
  </h1>
  <span class="text-4xl md:text-5xl font-bold">& Manutenção</span>

  <p class="text-xl md:text-2xl w-2/3 text-gray-300 text-center">Oferecemos soluções completas em projetos elétricos para edificações residenciais e prediais. Atendemos desde o estudo preliminar até a entrega do projeto executivo, sempre com foco na qualidade e segurança.</p>

  <div class="flex flex-row space-x-10">
    <button class="bg-yellow-300 hover:bg-yellow-400 transition-colors text-slate-800 py-3 px-6  rounded-xl font-semibold">Solicitar Orçamento</button>
    <button  class="bg-gray-50 hover:bg-yellow-400 py-3 px-6 transition-colors text-slate-800 border-amber-300 border-2 rounded-xl font-semibold">Nossos Servicos</button>
  </div>
</div>
