<div
  class="relative bg-gradient-to-r from-slate-800 via-slate-700 to-slate-800 w-full h-fit py-20 px-10 flex flex-col justify-center items-center text-white space-y-6">

  <h1 class="text-5xl font-bold md:text-6xl ">
    <span class="text-yellow-400">WMC</span> Engenharia
  </h1>
  <span class="text-3xl md:text-4xl font-bold">& Manutenção</span>

  <p class="text-xl md:text-2xl w-1/2 text-gray-300 text-center px-5">Oferecemos soluções completas em projetos elétricos para edificações residenciais e prediais. Atendemos desde o estudo preliminar até a entrega do projeto executivo, sempre com foco na qualidade e segurança.</p>

  <div class="flex flex-row space-x-10 mt-5">
    <button class="bg-yellow-300 hover:bg-yellow-400 transition-colors text-slate-800 py-3 px-8 border rounded-lg font-semibold h-fit text-sm">Solicitar Orçamento</button>
    <button  class="bg-gray-50 hover:bg-yellow-400 py-3 px-8 transition-colors text-slate-800 border-amber-300 border-2 rounded-lg text-sm font-semibold h-fit">Nossos Servicos</button>
  </div>
</div>
