<div class="bg-gray-50 flex flex-col justify-center items-center space-y-6 py-20">
  <h1 class="text-4xl font-bold text-yellow-500"><span class="text-black">Nossos</span> Diferencias</h1>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 w-3/4 h-fit p-10">
    <div
      class="bg-white h-full rounded-lg border-gray-200 border hover:shadow-lg transition-shadow"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4"></div>
        <h3 class="text-xl font-semibold mb-3">Excelência Técnica</h3>
        <p class="text-gray-600">
          Especialização em diversos projetos, com foco na qualidade e inovação
        </p>
      </div>
    </div>
    <div
      class="bg-white h-full rounded-lg border-gray-200 border hover:shadow-lg transition-shadow"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4"></div>
        <h3 class="text-xl font-semibold mb-3">Conformidade Tecnica</h3>
        <p class="text-gray-600">
         Atendimento rigorosos às normas e certificações exigidas.
        </p>
      </div>
    </div>
    <div
      class="bg-white h-full rounded-lg border-gray-200 border hover:shadow-lg transition-shadow"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4"></div>
        <h3 class="text-xl font-semibold mb-3">Suporte Completo</h3>
        <p class="text-gray-600">
          Desde o projeto até a execução da obra e manutenção.
        </p>
      </div>
    </div>
    <div
      class="bg-white h-full rounded-lg border-gray-200 border hover:shadow-lg transition-shadow"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4"></div>
        <h3 class="text-xl font-semibold mb-3">Equipe Qualificada</h3>
        <p class="text-gray-600">
          Profissionais especializados e certificados
        </p>
      </div>
    </div>
    <div
      class="bg-white h-full rounded-lg border-gray-200 border hover:shadow-lg transition-shadow"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4"></div>
        <h3 class="text-xl font-semibold mb-3">Atendimento Ágil</h3>
        <p class="text-gray-600">
          Resposta rápida e eficiente às demandas dos clientes
        </p>
      </div>
    </div>
    <div
      class="bg-white h-full rounded-lg border-gray-200 border hover:shadow-lg transition-shadow"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4"></div>
        <h3 class="text-xl font-semibold mb-3">Segurança Garantida</h3>
        <p class="text-gray-600">
          Foco na proteção de pessoas e patrimônios
        </p>
      </div>
    </div>
  </div>
</div>
