<div
  class="relative bg-gradient-to-r from-slate-800 via-slate-700 to-slate-800 w-full h-fit py-20 px-10 flex flex-col justify-center items-center text-white space-y-6"
>
  <h1 class="text-4xl text-yellow-400 font-bold">
    <span class="text-white">Fale </span>Conosco
  </h1>
  <p class="text-gray-100 text-xl">
    Entre em contato para solicitar um orçamento
  </p>
  <div class="flex flex-row justify-between space-x-40 mt-10">
    <div class="flex flex-col items-center text-white space-y-2">
      <span class="bg-amber-300 h-16 w-16 rounded-full flex items-center mb-4"
        >icone</span
      >
      <p class="font-bold text-lg">Telefones</p>
      <div class="text-center flex flex-col">
        <a href="" class="text-gray-100">Wilames: +55 34 9142-3278</a>
        <a href="" class="text-gray-100">Claudecio: +55 34 9131-6671</a>
        <a href="" class="text-gray-100">Rodrigues: 034 99902-3466</a>
      </div>
    </div>
    <div class="flex flex-col items-center text-white space-y-2">
      <span class="bg-amber-300 h-16 w-16 rounded-full flex items-center mb-4"
        >icone</span
      >
      <p class="font-bold text-lg">E-mail</p>

      <a href="" class="text-gray-100">wmc.engenharia.manutençãogmail.com</a>
    </div>
    <div class="flex flex-col items-center text-white space-y-2">
      <span class="bg-amber-300 h-16 w-16 rounded-full flex items-center mb-4"
        >icone</span
      >
      <p class="font-bold text-lg">Localização</p>
      <div class="text-center flex flex-col">
        <a href="" class="text-gray-100">Rua João Frazão Nº 62</a>
        <p class="text-gray-100">Parque das Aroeiras -Uberaba MG</p>
      </div>
    </div>
    <div class="flex flex-col items-center text-white space-y-2">
      <span class="bg-amber-300 h-16 w-16 rounded-full flex items-center mb-4"
        >icone</span
      >
      <p class="font-bold text-lg">Redes Sociais</p>

      <div class="text-center flex flex-col">
        <a href="" class="text-gray-100">LinkedIn</a>
        <a href="" class="text-gray-100">Instragram</a>
      </div>
    </div>
  </div>
  <button class="bg-yellow-300 hover:bg-yellow-400 transition-colors text-slate-800 py-3 px-8 border rounded-lg font-semibold h-fit text-sm mt-5">Faça Seu Orçamento Agora </button>
</div>
<div class="bg-slate-800 items-center flex flex-col py-10 space-y-3"><img src="" alt="WMC">
<p class="text-gray-400 text-sm "> 2024 WMC Engenharia & Manutenção. Todos os direitos reservados.</p></div>
