<div
  class="bg-transparent w-full h-fit py-20 px-10 items-center justify-center"
>
  <div class="flex flex-row gap-12 md:grid-cols-2 justify-center w-3/4 mx-auto">
    <div
      class="flex flex-col  text-white p-8 space-y-4 bg-slate-600 rounded-lg w-1/2"
    >
      <h1 class="text-3xl font-bold">Nossa Missão</h1>
      <p class="text-xl pb-5">
        Garantir proteção de pessoas e patrimônios por meio de serviços,
        produtos e soluções de qualidade, com foco na excelência e satisfação do
        cliente.
      </p>
    </div>
    <div
      class="flex flex-col text-black p-8 space-y-4 bg-yellow-300 rounded-lg w-1/2"
    >
      <h1 class="text-3xl font-bold">Nossa Visão</h1>
      <p class="text-xl pb-5">
        Ser referência regional em engenharia de manutenção, reconhecida pela
        excelência técnica e atendimento ágil.
      </p>
    </div>
  </div>
</div>
<div
  class="flex flex-col justify-center items-center bg-gray-50 mx-auto space-y-8 py-20"
>
  <h1 class="text-4xl font-bold text-yellow-500">
    <span class="text-slate-800">Nossos</span> Serviços
  </h1>
  <p class="text-xl text-center text-gray-600 m ax-w-3xl">
    A WMC Engenharia atua com excelência na fabricação e manutenção industrial,
    oferecendo soluções completas em:
  </p>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 w-3/4 h-fit  p-10">
    <div
      class="bg-white border-l-4 border-l-yellow-400 h-full rounded-lg border-gray-200 border hover:shadow-lg transition-shadow"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4">


        </div>
        <h3 class="text-xl font-semibold mb-3">Sistemas de Sprinklers</h3>
        <p class="text-gray-600 ">
          Instalação completa de soluções, sprinklers e hidrantes, seguindo
          prazos e normas vigentes
        </p>
      </div>
    </div>
    <div
      class="bg-white border-l-4 border-l-yellow-400 rounded-lg hover:shadow-lg h-full transition-shadow border border-gray-200"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4">
          <!--colocar o icone-->
        </div>
        <h3 class="text-xl font-semibold mb-3">Sistema LPS</h3>
        <p class="text-gray-600 ">
          Lightning Protection System com certificação e atendimento às normas
          técnicas
        </p>
      </div>
    </div>
    <div
      class="bg-white border-l-4 border-l-yellow-400 rounded-lg hover:shadow-lg h-full transition-shadow border border-gray-200"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4">
          <!--colocar o icone-->
        </div>
        <h3 class="text-xl font-semibold mb-3">Testes Hidráulicos</h3>
        <p class="text-gray-600">
          Testes hidráulicos e comissionamento, garantindo excelência no
          funcionamento antes da entrega
        </p>
      </div>
    </div>
    <div
      class="bg-white border-l-4 border-l-yellow-400 rounded-lg hover:shadow-lg h-full transition-shadow border border-gray-200 "
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4">
          <!--colocar o icone-->
        </div>
        <h3 class="text-xl font-semibold mb-3">Manutenção Preventiva</h3>
        <p class="text-gray-600  ">
          Manutenção preventiva e corretiva, inspeções periódicas para
          certificação e atendimento às normas
        </p>
      </div>
    </div>
    <div
      class="bg-white border-l-4 border-l-yellow-400  rounded-lg hover:shadow-lg h-full w-fittransition-shadow border border-gray-200"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4">
          <!--colocar o icone-->
        </div>
        <h3 class="text-xl font-semibold mb-3">Projetos Elétricos</h3>
        <p class="text-gray-600  ">
          Projetos de baixa tensão para 1.000 kVA, dimensionamento de quadros e
          instalações elétricas
        </p>
      </div>
    </div>
    <div
      class="bg-white border-l-4 border-l-yellow-400 rounded-lg hover:shadow-lg h-full transition-shadow border border-gray-200"
    >
      <div class="p-6">
        <div class="h-12 w-12 text-yellow-500 mb-4">
          <!--colocar o icone-->
        </div>
        <h3 class="text-xl font-semibold mb-3">Laudos Técnicos</h3>
        <p class="text-gray-600 ">
          Elaboração de laudos técnicos, diagnósticos e inspeções técnicas
          especializadas
        </p>
      </div>
    </div>
  </div>
</div>
