<div class="bg-transparent text-center py-20 space-y-8">
  <h1 class="text-4xl text-yellow-500 font-bold">
    <span class="text-black">Quem </span>Somos
  </h1>
  <div class="flex flex-col justify-center text-center w-1/2 mx-auto space-y-6 px-12">
    <p class="text-lg font-serif text-gray-600">
      A WMC Engenharia é especializada em soluções completas para projetos
      elétricos em edificações residenciais e predias. Atendemos desde o estudo
      preliminar até a entrega do projeto executivo, sempre com foco na
      qualidade e segurança.
    </p>

    <p class="text-lg font-serif text-gray-600">
      Nossa empresa oferece serviços  de instalação completa de sistemas de sprinklers, hidrantes, sistemas LPS (Lightining Protection System), além de manutenção preventiva e corretiva com certificações técnicas.
    </p>
    <p class="text-lg font-serif text-gray-600">
      Com uma equipe qualificada e atendimento ágil, garantimos a proteção de pessoas e patrimônios através de soluções técnicas de excelência.
    </p>
  </div>
</div>
